<div class="componentUs container-fluid">
  <div class="componentGroup row">
    <div class="col-50">
      <span class="componentHeading">About Us</span>
     <span class="componentMessage">At SAHNAR TECHNOLOGIES Pvt. Ltd., we believe in the power of innovation, security, and AI-driven solutions to shape the future. Our mission is to bridge the gap between technology and real-world challenges by creating intelligent and secure systems. As a fully remote company, we offer a unique opportunity to collaborate with industry experts, gain hands-on experience, and contribute to cutting-edge projects in Artificial Intelligence, Machine Learning, Cybersecurity, and Data Science—no matter where you are. We are passionate about learning, growth, and career development, ensuring that every individual working with us has the chance to enhance their skills and unlock new opportunities.
      <br>
      <br>Registered under the Ministry of Corporate Affairs, Govt. of India (CIN: U62011OD2025PTC047708), we are committed to excellence and innovation. With strong leadership and a clear vision, we provide a supportive and dynamic environment where creativity meets technology. Whether you're a student, aspiring tech professional, or experienced developer, SAHNAR TECHNOLOGIES is the perfect place to learn, innovate, and grow. Join us in our journey to build intelligent solutions and secure the digital world—because at SAHNAR, we believe in The Mind of AI, The Strength of Security. 
      </span>
    </div>
  </div>
  <div class="kpiCardContainer col">
    <div [class]="cardClass" class = "d-flex" *ngFor = "let kpiCard of aboutUsKpi">
      <div class="kpiCard content">
        <span class = "kpiCardHeading">{{kpiCard.heading}}</span>
        <div class = "kpiCardBody">
          <span *ngFor = "let body of kpiCard.bodyList"><b>{{body.head}}</b>{{body.body}}</span>
        </div>
      </div>
    </div>
  </div>
</div>
