
<div class="componentUs container-fluid">
  <div class="componentGroup row">
    <div class="col-15">
      <span class="componentHeading">Internship</span>
      <span class="componentMessage">At Sahnar Technologies Pvt. Ltd., we believe in empowering the next generation of talent through comprehensive training and internship programs. Our initiatives are designed to provide college students with hands-on experience in the fields of Cybersecurity, Artificial Intelligence, Machine Learning, Data Analytics and Python Development. Interns will have the opportunity to work alongside our expert team, gaining valuable insights into real-world applications of cutting-edge technologies.</span>
      <span class="componentMessage">Join us at Sahnar to kickstart your career journey and gain the experience needed to thrive in the fast-evolving tech landscape!</span>
     </div>
  </div>
  <div class="kpiCardContainer row">
    <div class="{{cardClass}} d-flex" *ngFor = "let cource of courceDetails">
      <div class="kpiCard content">
        <img src="{{cource.icon}}" alt="Logo" width = "50">
        <span class = "kpiCardHeading">{{cource.name}}</span>
        <div class = "kpiCardBody">
          {{cource.description}}
          
          <br>
          <br>
<button onclick="location.href = 'https://forms.gle/HexR9TNe9yFYrEjP7';" type="button" class = "apply-button">Apply Now </button>


      </div>
    </div><nav></nav>
  </div>
</div>
</div>
