
<div class="componentUs container-fluid">
  <div class="componentGroup row">
    <div class="col-15">
      <span class="componentHeading">Internship</span>
      <span class="componentMessage">Are you passionate about AI, Machine Learning, Cybersecurity, or Data Science?
        Ready to work with industry experts and gain hands-on experience—all while working remotely?</span>
        <span class="componentMessage">Look no further! At SAHNAR TECHNOLOGIES Pvt. Ltd., 
          we’re offering an exciting 90-day remote internship program designed to help you develop essential skills, advance your career, and unlock real-world opportunities. </span>
          </div>
  </div>
  <div class="kpiCardContainer row">
    <div class="{{cardClass}} d-flex" *ngFor = "let cource of courceDetails">
      <div class="kpiCard content">
        <img src="{{cource.icon}}" alt="Logo" width = "50">
        <span class = "kpiCardHeading">{{cource.name}}</span>
        <div class = "kpiCardBody">
          {{cource.description}}
          
          <br>
          <br>
<button onclick="location.href = 'https://forms.gle/HexR9TNe9yFYrEjP7';" type="button" class = "apply-button">Apply Now </button>


      </div>
    </div><nav></nav>
  </div>
</div>
</div>
