<div class="componentUs container-fluid">
  <div class="componentGroup row">
    <div class="col-12">
      <span class="componentHeading">Have Questions? Get in Touch!</span>
      <span class="componentMessage">We are here to assist you with any questions or concerns you may have.</span>
    </div>
  </div>
 <div class="kpiCardContainer row">
    <div class="col-md-3 col-sm-4 d-flex">
      <div class="kpiCard container">
        <mat-icon aria-hidden="false" aria-label="location_on icon" fontIcon="location_on"></mat-icon>
        <span class = "kpiCardHeading">Any Queries?</span>
        <div class = "kpiCardBodyContact">
         <a href="https://forms.gle/MLGyXTHxU7swogMt8" >CLICK HERE</a>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-4 d-flex">
      <div class="kpiCard container">
        <mat-icon aria-hidden="false" aria-label="location_on icon" fontIcon="location_on"></mat-icon>
        <span class = "kpiCardHeading">Registered Office</span>
        <div class = "kpiCardBodyContact">Debottar Colony, 3rd Lane, Nayagarh College<br>Nayagarh, Odisha, India, 752069<br></div>
      </div>
    </div>
       <div class="col-md-3 col-sm-4 d-flex">
      <div class="kpiCard container">
        <mat-icon aria-hidden="false" aria-label="email icon" fontIcon="email"></mat-icon>
        <span class = "kpiCardHeading">Email us</span>
        <div class = "kpiCardBodyContact">
          <a href="mailto:example@example.com">contact&#64;sahnar.in</a> <br>
          <a href="mailto:example@example.com">career&#64;sahnar.in</a>
        </div>
      </div>
    </div>
  </div>
</div>
