<div class="componentUs container-fluid">
  <div class="componentGroup row">
    <div class="col-12">
      <span class="componentHeading">Get in Touch</span>
      <span class="componentMessage">We are here to assist you with any questions or concerns you may have.</span>
    </div>
  </div>
 <div class="kpiCardContainer row">
    <div class="col-md-4 col-lg-3 d-flex">
      <div class="kpiCard container">
        <mat-icon aria-hidden="false" aria-label="location_on icon" fontIcon="location_on"></mat-icon>
        <span class = "kpiCardHeading">Any Queries?</span>
        <div class = "kpiCardBodyContact">
         <a href="https://forms.gle/hKFhK7bR3rb6JdrR7" >CLICK HERE</a>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-lg-3 d-flex">
      <div class="kpiCard container">
        <mat-icon aria-hidden="false" aria-label="location_on icon" fontIcon="location_on"></mat-icon>
        <span class = "kpiCardHeading">Our Location</span>
        <div class = "kpiCardBodyContact">IRC Village,<br>Bhubaneswar,<br>Odisha, India, 751015</div>
      </div>
    </div>
    <div class="col-md-4 col-lg-3 d-flex">
      <div class="kpiCard container">
        <mat-icon aria-hidden="false" aria-label="call icon" fontIcon="call"></mat-icon>
        <span class = "kpiCardHeading">Call Us On</span>
        <div class = "kpiCardBodyContact">
          <a href="tel:+91 70082 15244" class = "phoneNumber">+91 70082 15244</a> <br>
          <a href="tel:+91 70082 15244" class = "phoneNumber">+91 70088 62216</a>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-lg-3 d-flex">
      <div class="kpiCard container">
        <mat-icon aria-hidden="false" aria-label="email icon" fontIcon="email"></mat-icon>
        <span class = "kpiCardHeading">Email us</span>
        <div class = "kpiCardBodyContact">
          <a href="mailto:example@example.com">contact&#64;coatexai.com</a> <br>
          <a href="mailto:example@example.com">support&#64;coatexai.com</a>
        </div>
      </div>
    </div>
  </div>
</div>
